*{
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    background-color: $gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}