#main-container{
    height: 497px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 18px 28px 0px rgba(123,135,157,0.3);
    -moz-box-shadow: 0px 18px 28px 0px rgba(123,135,157,0.3);
    box-shadow: 0px 18px 28px 0px rgba(123,135,157,0.3);
}