#text{
    text-align: center;
    font-size: $font-size;
    width: 285px;
    margin-bottom:18px;
    h1{
        font-weight: $bold;
        font-size: 1.4rem;
        margin-top: 20px; 
        color: $blue;
    }
    p{
        font-weight: $regular;
        color: $grayish;
        font-size: 1rem;
        width:275px;
        line-height: 1.2rem;
        margin-top: -1px;
    }
}