$desktop:600px;
$white:hsl(0, 0%, 100%);
$gray:hsl(212, 45%, 89%);
$grayish:hsl(220, 15%, 55%);
$blue:hsl(218, 44%, 22%);
$font-size:17px;
$font-weights:(
    "regular":400,
    "bold":700

);
$font-family: 'Outfit', sans-serif;