$desktop:600px;
$white:hsl(0, 0%, 100%);
$gray:hsl(212, 45%, 89%);
$grayish:hsl(220, 15%, 55%); /* #7b879d hex */
$blue:hsl(218, 44%, 22%);
$font-size:15px;
$regular:400;
$bold:700;
$font-family: 'Outfit', sans-serif;

/* Hsl to Hex color conventer: https://htmlcolors.com/hsl-to-hex */