@import "./variables";

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin body(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction;
    margin: auto;

    width:100%;
    height:100%;
}

@mixin mainBackground(){
    //width:85%;
    background-color: $white;
    border-radius: 20px;
    width: 300px;
}

body{
    @include body();
    @include flexCenter(column);
    background-color: $gray;
    font-family:$font-family;
}

main{
    @include mainBackground();
}

img{
    border-radius: 20px;
    height: 260px;
    margin:20px;
}

h1{
    text-align: center;
    font-size: 20px;
    margin:20px;
    color:$blue;
}

p{
    color: $grayish;
    font-size: $font-size;
    text-align: center;
    width:250px;
    margin:25px;
    line-height: 1.5rem;
}
