@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
img{
    width:300px;
    border-radius: 10px;
    margin-top: 25px;
}
main{
    margin-top: 200px;
    background-color: hsl(0, 0%, 100%) ;
    width:350px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px hsl(220, 15%, 55%);
}
h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 25px;
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    width: 280px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:580px){
    img{
        width: 400px;
    }
    main{
        margin-top: 150px;
        width: 450px;
    }
    h1{
        width: 350px;
    }
    p{
        width: 350px;
        font-size: 20px;
        margin-bottom: 40px;
    }

}